.scoreboard {   
    margin-left: 20px;
}
.text {
    text-align: center;
    margin: 10px;

}
.first {
    color:red;
}
.startElements{
    background-color: grey;
    font-size: 24px;
    color:white;
} 